@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;

}

body{
	background-color: #c6c4fe;
  background: linear-gradient(180deg, #f0f0f0, 5%, #e1dbee, 70%, #8B5FE3);
}

/* hide scrollbar for chrome */
body::-webkit-scrollbar{
  display: none;
}

/* hide scrollbar for firefox */
body::-webkit-scrollbar{
  scrollbar-width: none;
}

.big_container div{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;

}

div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

.big_container div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}

.big_container div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}

.big_container div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}

.big_container div:nth-child(4) {
  top: 66%;
  left: 38%;
  animation: animate 7s linear infinite;
}

.big_container div:nth-child(5) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.big_container div:nth-child(6) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(10) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(11) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.big_container div:nth-child(13) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(14) {
  top: 90%;
  left: 80%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(15) {
  top: 10%;
  left: 40%;
  animation: animate 5s linear infinite;
}


@keyframes animate{
  0%{
       transform: scale(0) translateY(0) rotate(70deg);
  }
  100%{
      transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#header{
	position: fixed;
	height: auto;
	width: 100vw;
	display: flex;
/*	border-bottom: 2px solid black ;*/
	z-index: 10;
}

.octo{
	height: 150px;
	width: 250px;
	/* margin: 30px 0px 10px 100px; */
  margin-left: 12px ;
  /* background-color: red; */
}
.octo img{
	height: 80%;
	width: 85%;
	padding:2px;
  margin-top: 10px;
}


#form{
	height: auto;
	width: 200px;
	position: relative;
	top: 10%;
	left: 350%;
}

#main_body{
	position: relative;
	height: 100vh;
	width: 100vw;
/*	border-bottom: 2px solid black ;*/
	display: flex;
	justify-content: center;
}
#image{
	position: relative;
	height: 500px;
	width: 500px;
	top: 20%;
  margin-left: 20px;
}
#image img{
	height: 100%;
	width: 100%;
	animation: animate 2s ease-in-out infinite alternate;
}
@keyframes animate {
		from{
		transform: rotate(5deg);
	}
	to{
		transform: rotate(-5deg);
	}
} 
#content{
	position: relative;
	height: 500px;
	width: 650px;
/*	border: 2px solid darkblue;*/
	top: 10%;
  right: 8%;
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}



#fun{
  
	font-size: 2.8rem;
	font-weight: 400;
	/* font-family:mo; */
	color: midnightblue;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
  margin-left: 10px;
}

#button1{
	width: 350px;
    height: fit-content;
	font-size: 2rem;
	background-color: #8b5fe3;
	border: 3px solid whitesmoke;
	color: whitesmoke;
	text-align: center;
	border-radius: 20px;
  box-shadow:0 0 20px  #f0f0f0;
}


#button2{
	width: 350px;
    height: fit-content;
	font-size: 1.5rem;
/*	background-color: #8b5fe3;*/
	border: 3px solid whitesmoke;
	color: whitesmoke;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
  box-shadow:0 0 20px  #f0f0f0;
  background-color: rgba(240, 255, 255, 0.841);
}
#button1 a{
	color: whitesmoke;
	text-decoration: none;
}
#button2 a{
	color: grey;
	text-decoration: none;
	font-family:sans-serif;
}

#button1:hover{
	border-color: black ;
 color: black;
}
#button2:hover{
 color: white;
 border-color: rgb(0, 0, 0);
}
#button1 a:hover{
 color: black;
}
#button2 a:hover{
 color: black;
}

#lightbox{
	position: fixed;
	height: 0px;
	width: 0px;
	overflow: hidden;
	border: 2px solid black;
	transition: all 0.5s ease-in-out;
}
#lightbox:target{
    height: 200px;
	width: 200px;
	top: 65%;
	left: 80%;
	background-color: #bda9ee;
}

.langg{
  width: 80px;
  height: 20px;
}
h2{
  position: relative;
  left: 4rem;
	font-size: 20px;
	font-family: sans-serif;
	text-shadow: 1px 1px rgb(255, 255, 255);
	opacity: 0.7;
}

body{
    font-family: 'Asap', sans-serif;
font-family: 'Bayon', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
}

#languageSelector{
  margin-top: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 400;
  position: relative;
  left: 4rem;
}

@media (max-width: 850px) {
  #image{
    height: 350px;
    /* width: 400px; */
    top: 30%;
    margin-left: -10px;
  }
  #image img{
    height: 100%;
    width: 100%;
  }

  .octo{
    height: 120px;
    width: 200px;
    margin-left: 2rem ;
    margin-top: .5rem;
  }

  #content{
    height: 500px;
    width: 650px;
    top: 20%;
    right: 8%;
    flex-direction: column;
    gap: 30px;
  }
  #fun{
    font-size: 2.5rem;
    margin-left: 10px;
  }
  #button1{
    width: 320px;
    height: fit-content;
    font-size: 1.8rem;
  }
  #button2{
    width: 320px;
    height: fit-content;
    font-size: 1.5rem;
    border-radius: 20px;
  }

  .langg{
    width: 80px;
    height: 20px;
    margin-top: 12px;
  }
  #languageSelector{
    margin-top: 8px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    position: relative;
    left: -350px;
  }
  h2{
    position: relative;
    left: -350px ;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #image{
    height: 200px;
    /* width: 400px; */
    top: 25%;
    margin-left: -10px;
  }
  #image img{
    height: 100%;
    width: 100%;
  }

  .octo{
    height: 100px;
    width: 150px;
    margin-left: 1.5rem ;
    margin-top: .3rem;
  }

  #content{
    height: 500px;
    width: 650px;
    top: 15%;
    right: 8%;
    flex-direction: column;
    gap: 30px;
  }
  #fun{
    font-size: 2rem;
    margin-left: 10px;
    /* line-height: 70px; */
  }
  #button1{
    width: 280px;
    height: fit-content;
    font-size: 1.5rem;
  }
  #button2{
    width: 280px;
    height: fit-content;
    font-size: 1.3rem;
    border-radius: 20px;
  }

  .langg{
    width: 80px;
    height: 20px;
    margin-top: 10px;
  }
  #languageSelector{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    position: relative;
    left: -570px;
    width: 150px;
  }
  h2{
    position: relative;
    left: -570px ;
    font-size: 15px;
  }
}