@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

/* hide scrollbar for chrome */
body::-webkit-scrollbar{
  display: none;
}

/* hide scrollbar for firefox */
body::-webkit-scrollbar{
  scrollbar-width: none;
}

.big_container div {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}

div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

.big_container div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}

.big_container div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}

.big_container div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}

.big_container div:nth-child(4) {
  top: 66%;
  left: 38%;
  animation: animate 7s linear infinite;
}
a {
  text-decoration: none;
  background-color: aliceblue;
}
.big_container div:nth-child(5) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.big_container div:nth-child(6) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(10) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(11) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.big_container div:nth-child(13) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(14) {
  top: 90%;
  left: 80%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(15) {
  top: 10%;
  left: 40%;
  animation: animate 5s linear infinite;
}

.big_container div:nth-child(16) {
  top: 80%;
  left: 40%;
  animation: animate 10s linear infinite;
}

.big_container div:nth-child(17) {
  top: 80%;
  left: 50%;
  animation: animate 5s linear infinite;
}

.big_container div:nth-child(19) {
  top: 60%;
  left: 80%;
  animation: animate 7s linear infinite;
}

.big_container div:nth-child(18) {
  top: 50%;
  left: 30%;
  animation: animate 9s linear infinite;
}

.big_container div:nth-child(20) {
  top: 40%;
  left: 70%;
  animation: animate 4s linear infinite;
}
.big_container div:nth-child(21) {
  top: 10%;
  left: 10%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  /* background-color: #c6c4fe;
  background: linear-gradient(180deg, #f0f0f0, 10%, #e1dbee, 70%, #8b5fe3); */
  /* background: linear-gradient(
    to top,
    #023e8a,
    #0077b6,
    #0096c7,
    #00b4d8,
    #48cae4,
    #90e0ef,
    #ade8f4,
    #caf0f8
  ); */

  background-color: #c6c4fe;
    /* background: linear-gradient(180deg, #f0f0f0, 10%, #e1dbee, 70%, #8B5FE3); */
    background: linear-gradient(180deg, #f0f0f0, 10%, #e1dbee, 70%, #8B5FE3);

}
/* bubbles and gradientr background end...*/

.parent-container {
  display: grid;
  grid-template-rows: 0.5fr 11.5fr;
  grid-template-columns: 2fr 10fr;
  /* height: 100%;
  width: 100%; */
  /* border: 5px solid rgb(241, 52, 52);  */
}
.sider-header {
  grid-area: 2/1/3/2;
  /* border: 5px solid rgb(20, 107, 246);  */
  background-color: aliceblue;
  height: 100%;
  width: 247px;
  position: fixed;
  top: 0;
  z-index: 110;
}
.upside-header {
  grid-area: 1/2/2/3;
  /* border: 5px solid rgb(4, 238, 20);  */
  background-color: aliceblue;
/* background-color: black; */
  height: 72px;
  width: 100%;
  position:fixed;
  top: 0;
  z-index: 100;
}

.right-box {
  margin-top: 200px;
  grid-area: 2/2/3/3;
  /* border: 5px solid rgb(143, 143, 0);  */
  /* background-color: #2c1b4d; */
  /* position: static; */
  padding: 20px;
  /* z-index: 20; */
}

/* right-box as parent and flipcard as children */
.right-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
  grid-template-rows: repeat(10, 210px);
  /* z-index: 30; */
}
.flip-card {
  /* border: 2px solid greenyellow;  */
}

.flip-card {
  background-color: transparent;
  /* width: 300px;
  height: 300px; */
  perspective: 1000px;
  /* z-index: 20; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  cursor: pointer;
  /* box-shadow: 0 0 20px rgba(91, 4, 126, 0.909); */
  box-shadow: 0 0 20px rgb(94, 9, 146);
  -webkit-transition: 0.3s;
  -webkit-transition-property: box-shadow, transform;
}

.flip-card-front {
  background-color: #c6c4fe;
  /* background: linear-gradient(
    180deg,
    #2eb2ead4,
    10%,
    #fffdffa8,
    70%,
    #19b7cfd6
  ); */
  background: linear-gradient(
    180deg,
    #a211dbd4,
    10%,
    #fffdffa8,
    70%,
    #ae54d5d6
  );

  transform: rotateY(180deg);
  z-index: 1;
  /* z-index: 2;   */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  /* 
   background-color: #c6c4fe;
  background: linear-gradient(180deg, #ea53bfd4, 10%, #fffdffa8, 70%, #d52ebcd6); */

  /* transform: rotateY(180deg); */
  /* z-index: 1;  */
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 8px;
  font-family: Verdana, sans-serif;
  font-weight: 80;
}
.right-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 10;
}

.right-text {
  color: rgb(0, 0, 0);
  font-size: 25px;
  /* font-family: "PT Sans", sans-serif; */
  z-index: 10;

  /* font-family: "Permanent Marker", cursive; */
  font-family: 'Playfair Display', serif; 
}

/* cursor code start...*/

.cursor {
  z-index: 999;
  position: fixed;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 #2696e8, 0 0 #2696e8, 0 0 #2696e8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cursor:before {
  content: "";
  position: absolute;
  background: #2696e8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
/* cursor code khtm...*/

/* sideheader */
.logo {
  margin-left: 12px;
  /* border: 2px solid black; */
  height: 150px;
  width: 170px;
  
}
.logo:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.sh-box {
  /* border: 2px solid black; */
  color: rgb(96, 118, 143);
  height: 40px;
  margin-bottom: 2px;
}
.sh-box:hover {
  /* background-color: pink; */
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(85, 6, 113);
  /* border: 2px solid rgb(44, 7, 81); */
}
.sh-icon {
  position: relative;
  left: 15px;
  top: 1rem;
  height: 36px;
  width: auto;
}
.sh-text {
  position: relative;
  left: 78px;
  bottom: 17px;
  color: rgb(23, 6, 148);
  /* font-family: 'Playfair Display', serif; */
  /* font-family: "PT Sans", sans-serif; */
  /* font-family: "Leckerli One", cursive; */
  font-size: 21px;
  font-weight: bold;
}
/* side footer ki css */
.side-footer{
  margin-top: 3rem;
  margin-left: 1rem;
}
.side-footer a{
  text-decoration: none;
  color: rgba(142, 122, 145, 0.858);
}
/* side footer ki css khatam */

.upside-header {
  display: flex;
  justify-content: space-around;
}
.uh-box {
  /* border: 2px solid black; */
  color: rgb(96, 118, 143);
  /* margin-left: 240px; */
  /* margin-right: 0px;/ */
}
#home{
  margin-left: 220px;
}
#gamezone{
  margin-right: 10px;
}
#expert{
  margin-left:2px ;
}
#Community{
  margin-right: 50px;
}
.uh-box:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(85, 6, 113);
  /* border: 2px solid rgb(44, 7, 81); */
}
.uh-icon {
  margin-top: 5px;
  height: 45px;
  margin-left: 5px;
  margin-top: 14px;
}

.uh-text {
  /* font-family: "Leckerli One", cursive; */
  /* font-family: 'Playfair Display', serif; */
  color: rgb(23, 6, 148);
  font-size: 25px;
  position: relative;
  left: 62px;
  bottom: 40px;
  font-weight: bold;
}
/*.uh-icon{
margin-top: 22px;
font-family: 'Permanent Marker', cursive;
font-family: 'Leckerli One', cursive;
font-size: 20px;
}
.uh-icon:hover{
  transform: scale(1.1);
  color: grey;
  cursor: pointer;
} */

.side-icon {
  height: 48px;
  width: auto;
}

/* @media(min-width:0px) and (max-width:390px){
.upside-header{
  height: 3rem;
}
.sider-header{
  width:8rem ;
}
.flip-card-front,
.flip-card-back {
  height: 8rem;
  width: 8rem;
  margin-left: 5rem;
}

.sh-icon{
  height: 1.6rem;
}
.sh-text{
  font-size: 10px;
}
.uh-icon{
  height: 1.6rem;
  margin-left: 80px;
}
.uh-text{
  font-size: 10px;
  margin-top: 35px;

}
.logo{
  height: 80px;
  width: 80px;
}
.right-text{
  font-size: 10px;
}
}

@media(min-width:390px) and (max-width:700px)
{
.flip-card-front,
.flip-card-back {
  height: 120px;
  width: 120px;
}
.upside-header{
  height: 80px;
}
.sider-header{
  width:150px ;
}
.right-box{

}
.sh-icon{
  height: 23px;
}
.sh-text{
  font-size: 10px;
}
.uh-icon{
  height: 25px;
}
.uh-text{
  font-size: 12px;
  margin-top: 50px;
  margin-left: 14px;

}
.logo{
  height: 120px;
  width: 120px;
}
.right-text{
  font-size: 15px;
  margin-left: 50px;
}
} */


/* footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-character {
  position: absolute;
  top: -50px; /* Adjust this value based on the height of your character */
  /* left: 50%;
  transform: translateX(-50%);
}

.footer-character img {
  height: 100px; /* Adjust the height based on your image */
/* }  */




#rocket{
  position: absolute;
  z-index: 0;
  left: 90px;
  top:30%;
  height: 200px;
  transition: all cubic-bezier(0.19, 1, 0.22, 0.5);
  opacity: 50%;
}

/* ======================================CHATBOT===================== */
/* chatbot */


/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background: whitesmoke;
} */

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #240046;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  font-family: "Poppins", sans-serif;
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 300px;
  height: 380px;
  background-image: linear-gradient(135deg,#3c096c, #5a189a,#7b2cbf, #9d4edd,#c77dff) ;
  /* background-image: linear-gradient(135deg,#8c8b8d, #675479,#090111, #9d4edd,#c77dff) ; */

  border-radius: 15px;
  overflow: hidden;
  /* -ms-overflow-style: none; */
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  z-index: 500;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #240046;
  box-shadow: 0 2px 10px rgba(36, 2, 43, 0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 120px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 0px;
}
/* .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background-image: linear-gradient(#343a40, #495057,#6c757d, #adb5bd,#ced4da, #dee2e6, #e9ecef) ;
  border-radius: 25px;
} */
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #10002b;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #000;
  font-size: 0.8rem;
  background: #e0aaff;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #fff;
  background: #c77dff;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 15%;
  background: #3c096c;
  padding: 3px 20px;
  border-top: 1px solid #3c096c;
}
.chat-input textarea {
  font-family: "Poppins", sans-serif;
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 100px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
  background: #3c096c;
  /* background: #827290; */
  color: #fff;
}
.chat-input span {
  align-self: flex-end;
  color: #fff;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
  .chatbox .chat p {
    font-size: 1rem;
  }
}

