.big_container div{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;

}

div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

.big_container div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}

.big_container div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}

.big_container div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}

.big_container div:nth-child(4) {
  top: 66%;
  left: 38%;
  animation: animate 7s linear infinite;
}

.big_container div:nth-child(5) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.big_container div:nth-child(6) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(10) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.big_container div:nth-child(11) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.big_container div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.big_container div:nth-child(13) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.big_container div:nth-child(14) {
  top: 90%;
  left: 80%;
  animation: animate 8s linear infinite;
}
.big_container div:nth-child(15) {
  top: 10%;
  left: 40%;
  animation: animate 5s linear infinite;
}


@keyframes animate{
  0%{
       transform: scale(0) translateY(0) rotate(70deg);
  }
  100%{
      transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
        body {
            background-color: #c6c4fe;
            background:linear-gradient(180deg, #f0f0f0, 5%, #e1dbee, 70%, #8B5FE3); /* Purple background */
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #4b0082; /* Darker purple */
        }

        h1 {
            margin: 0;
            text-align: center;
            flex-grow: 1;
        }

        #backButton {
            background-color: #fff;
            color: #6a0dad;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s;
            position: absolute;
            left: 20px;
            top: 1rem;
        }

        #backButton:hover {
            background-color: #e1dbee;
        }

        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px;
        }

        .left-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 30%;
        }

        .main-section {
            flex: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70%;
        }

        .animated-image {
            width: 100%;
            max-width: 200px;
            animation: upDown 2s infinite;
            /* border: 3px solid #6a0dad; */
            border-radius: 10px;
        }

        @keyframes upDown {
            0%, 100% {
                transform: translateY(130px);
            }
            50% {
                transform: translateY(-70px);
            }
        }

        video {
            width: 100%;
            border: 3px solid #6a0dad;
            border-radius: 10px;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                align-items: flex-start;
            }

            .left-section {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            .main-section {
                width: 100%;
                max-width: 100%;
            }
        }

        * hide scrollbar for chrome */
body::-webkit-scrollbar{
  display: none;
}

/* hide scrollbar for firefox */
body::-webkit-scrollbar{
  scrollbar-width: none;
}
